html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: black;
	color: white;
}

div.hidden{
	display: none;
}

canvas{
	touch-action: none;
	margin-top: 4px;
	display: block;
	position: flex;
	margin-left: auto;
    margin-right: auto;
}